{% extends "layout.html.twig" %}

{% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="MyTeamStats" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="http://www.thibaut-minard.fr/MyTeamStats/Club" />
    <meta property="og:image" content="https://res.cloudinary.com/marthyte/image/upload/v1584623500/v2_vnydsk.png" />
    <meta property="og:description" content="Infos club">
    <title>Infos - MyTeamStats</title>
{% endblock %}

{% block content %}

<div id="club" class="d-flex flex-column col-xs-10 offset-xs-1 col-sm-8 offset-sm-2 align-items-center">
    <h1 id="club_name">CONFIG.MyTeam.name</h1>
    <div id="club_logo_soclink" class="d-flex flex-column align-items-center">
        <div class="row">
            <div class="col-xs-8 offset-xs-2 offset-sm-3 col-sm-6">
                <img id="club_logo" src="logo.png" class="img-responsive fit-image">
            </div>
        </div>
        <div id="club_soclink" class="text-primary">
            <a id="facebook" href="#"><i class="fab fa-facebook-square"></i></a>
            <a id="twitter" href="#"><i class="fab fa-twitter-square"></i></a>
            <a id="instagram" href="#"><i class="fab fa-instagram-square"></i></a>
            <a id="youtube" href="#"><i class="fab fa-youtube-square"></i></a>
        </div>
    </div>
    <div id="club_data" class="m-4">
        <p>
            <span class="club_data-title font-weight-bold">Président :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span id="club_pres" class="club_data-txt">Thibaut MINARD</span>
        </p>
        <p>
            <span class="club_data-title font-weight-bold">Siège social :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span id="club_hq" class="club_data-txt">28 rue des cépes 53210 Argentré</span>
        </p>
        <p>
            <span class="club_data-title font-weight-bold">Téléphone :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span id="club_tel" class="club_data-txt">06 07 08 09 10 11</span>
        </p>
        <p>
            <span class="club_data-title font-weight-bold">Mail :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span id="club_mail" class="club_data-txt">contact@e113-fc.fr</span>
        </p>
        <p>
            <span class="club_data-title font-weight-bold">Site internet :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span id="club_website" class="club_data-txt">www.e133-fc.fr</span>
        </p>
    </div>    
</div>


{% endblock %}

{% block script %}
    <script src="/MyTeamStats/public/js/Club.js"></script>
{% endblock %}