{% extends "layout.html.twig" %}

{% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="MyTeamStats" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="http://www.thibaut-minard.fr/MyTeamStats/CreateUser" />
    <meta property="og:image" content="https://res.cloudinary.com/marthyte/image/upload/v1584623500/v2_vnydsk.png" />
    <meta property="og:description" content="Créer un compte utilisateur">
    <title>Créer un compte - MyTeamStats</title>
{% endblock %}

{% block content %}

<div id="createuser_form" class="d-flex flex-column justify-content-center align-items-center mt-2">
    <form id="createuser-form" class="col-lg-6" action="/MyTeamStats/AddUser"  method="post">
        <legend>Créer votre compte</legend>
        <div class="form-group">
            <label for="text">Nom</label>
            <input id="createuser_lastname" type="text" name="lastname" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="text">Prénom</label>
            <input id="createuser_firstname" type="text" name="firstname" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="text"><i class="fas fa-at"></i>&nbsp;&nbsp;Adresse mail</label>
            <input id="createuser_mail" type="text" name="mail" class="form-control" required>
            <div id="createuser_notice_mail" class="form-control-feedback"></div>
        </div>
        <div class="form-group">
            <label for="text"><i class="fas fa-key"></i>&nbsp;&nbsp;Entrer un mot de passe</label>
            <input id="createuser_pwd1" type="password" name="pwd1" class="form-control" required>
            <div id="createuser_regex_pwd" class="form-control-feedback">Le mot de passe doit contenir au moins 8 caractères</div>
        </div>
        <div class="form-group">
            <label for="text"><i class="fas fa-key"></i>&nbsp;&nbsp;Confirmer le mot de passe</label>
            <input id="createuser_pwd2" type="password" name="pwd2" class="form-control" required>
            <div id="createuser_notice_pwd" class="form-control-feedback">Les deux mots de passe sont différents</div>
        </div>    
        <button id="createuser_submit" type="submit" class="btn btn-primary"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;Envoyer</button>
    </form>
</div>


{% endblock %}

{% block script %}
    <script>let mails = {{ mails | raw }}</script>
    <script src="/MyTeamStats/public/js/MailCheck.js"></script>
    <script src="/MyTeamStats/public/js/PasswordCheck.js"></script>
    <script src="/MyTeamStats/public/js/createUser.js"></script>
{% endblock %}