{% extends "layout.html.twig" %}

{% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="MyTeamStats" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="http://www.thibaut-minard.fr/MyTeamStats/" />
    <meta property="og:image" content="https://res.cloudinary.com/marthyte/image/upload/v1584623500/v2_vnydsk.png" />
    <meta property="og:description" content="Page d'accueil">
    <title>Accueil - MyTeamStats</title>
{% endblock %}

{% block content %}

<div>
    Une erreur est survenue :
    <p>
        {{ error }}
    </p>
</div>


{% endblock %}

