{% extends "layout.html.twig" %}

{% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta property="og:title" content="MyTeamStats" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="http://www.thibaut-minard.fr/MyTeamStats/LostPassword" />
    <meta property="og:image" content="https://res.cloudinary.com/marthyte/image/upload/v1584623500/v2_vnydsk.png" />
    <meta property="og:description" content="Récupération de mot de passe">
    <title>Accueil - MyTeamStats</title>
{% endblock %}

{% block content %}

<div id="lostpassword_form" class="d-flex flex-column justify-content-center align-items-center">
    <form id="lostpassword-form" class="col-lg-6" action="/MyTeamStats/ResetPassword"  method="post">
        <legend>Mot de passe oublié ? </legend>
        <div class="form-group">
            <label for="text"><i class="fas fa-at"></i>&nbsp;&nbsp;Entrez votre adresse mail</label>
            <input id="text" type="text" name="mail" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;Envoyer</button>
    </form>
</div>

{% endblock %}