{% extends "layout.html.twig" %}

{% block head %}
    <title>Accueil - MyTeamStats</title>
{% endblock %}

{% block content %}

<div id="lostpassword_form" class="d-flex flex-column justify-content-center align-items-center">
    <form id="lostpassword-form" class="col-lg-6">
        <legend>Mot de passe oublié ? </legend>
        <div class="form-group">
            <label for="text"><i class="fas fa-at"></i>&nbsp;&nbsp;Entrez votre adresse mail</label>
            <input id="text" type="text" name="mail" class="form-control">        
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;Envoyer</button>
    </form>
</div>

{% endblock %}