{% extends "layout.html.twig" %}

{% block head %}
    <title>Liste des matchs - MyTeamStats</title>
{% endblock %}

{% block content %}

    {% if session.user_status >= 3 %}
        <div id="add_match" class="col-1 m-4 border border-primary rounded-lg myborder">
            <a href="/MyTeamStats/CreateMatch">
                <i class="fas fa-user-plus"></i>&nbsp;Créér un match
            </a>
        </div>
        <div id="add_field" class="col-1 m-4 border border-primary rounded-lg myborder">
            <a href="/MyTeamStats/CreateField">
                <i class="fas fa-user-plus"></i>&nbsp;Créér un match
            </a>
        </div>
    {% endif %}

<div class="table-responsive">
    <table class="table table table-bordered table-striped text-center">
        <caption class="text-center">
            <h4>Liste des Matchs</h4>
        </caption>
        <thead>
            <tr>
                <th id="table_category">Catégorie</th>
                <th id="table_opponent">Adversaire</th>
                <th id="table_place">Lieu</th>
                <th id="table_date">Date</th>
                <th id="table_status">Statut</th>
                <th id="table_options">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>U15F</td>
                <td>Argentré</td>
                <td>Domicile</td>
                <th>26/09/2020</td>
                <td>A venir</td>
                <td><i class="fas fa-user-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash-alt"></i></td>
            </tr>
            <tr>
                <td>U15F</td>
                <td>Argentré</td>
                <td>Domicile</td>
                <th>26/09/2020</td>
                <td>A venir</td>
                <td><i class="fas fa-user-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash-alt"></i></td>
            </tr>
            <tr>
                <td>U15F</td>
                <td>Argentré</td>
                <td>Domicile</td>
                <th>26/09/2020</td>
                <td>A venir</td>
                <td><i class="fas fa-user-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash-alt"></i></td>
            </tr>
            <tr>
                <td>U15F</td>
                <td>Argentré</td>
                <td>Domicile</td>
                <th>26/09/2020</td>
                <td>A venir</td>
                <td><i class="fas fa-user-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash-alt"></i></td>
            </tr>
            <tr>
                <td>U15F</td>
                <td>Argentré</td>
                <td>Domicil</td>
                <th>26/09/2020</td>
                <td>A venir</td>
                <td><i class="fas fa-user-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash-alt"></i></td>
            </tr>
            <tr>
                <td>U15F</td>
                <td>Argentré</td>
                <td>Domicile</td>
                <th>26/09/2020</td>
                <td>A venir</td>
                <td><i class="fas fa-user-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash-alt"></i></td>
            </tr>
            <tr>
                <td>U15F</td>
                <td>Argentré</td>
                <td>Domicile</td>
                <th>26/09/2020</td>
                <td>A venir</td>
                <td><i class="fas fa-user-edit"></i>&nbsp;&nbsp;&nbsp;<i class="fas fa-trash-alt"></i></td>
            </tr>
        </tbody>
    </table>
</div>    

{% endblock %}