{% extends "layout.html.twig" %}

{% block head %}
    <title>Modifier votre mot de passe - MyTeamStats</title>
{% endblock %}

{% block content %}

    <div id="createuser_form" class="d-flex flex-column justify-content-center align-items-center">
        <form id="Modifypwd-form" class="col-lg-6" action="/MyTeamStats/ModifyPassword/{{ mail }}/{{ token }}"  method="post">
            <legend>Créer un nouveau mot de passe</legend>
            <div class="form-group">
                <label for="text"><i class="fas fa-key"></i>&nbsp;&nbsp;Entrer un mot de passe</label>
                <input id="text" type="text" name="pwd1" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="text"><i class="fas fa-key"></i>&nbsp;&nbsp;Confirmer le mot de passe</label>
                <input id="text" type="text" name="pwd2" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;Envoyer</button>
        </form>
    </div>


{% endblock %}