{% extends "layout.html.twig" %}

{% block head %}
    <title>Modifier votre mot de passe - MyTeamStats</title>
{% endblock %}

{% block content %}

    <div id="createuser_form" class="d-flex flex-column justify-content-center align-items-center mt-2">
        <form id="Modifypwd-form" class="col-lg-6" action="/UpdatePassword/{{ mail }}/{{ token }}"  method="post">
            <legend>Créer un nouveau mot de passe</legend>
            <div class="form-group">
                <label for="text" class="form_label"><i class="fas fa-key"></i>&nbsp;&nbsp;Entrer un mot de passe</label>
                <input id="modifypwd_pwd1" type="password" name="pwd1" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="text" class="form_label"><i class="fas fa-key"></i>&nbsp;&nbsp;Confirmer le mot de passe</label>
                <input id="modifypwd_pwd2" type="password" name="pwd2" class="form-control" required>
                <div id="modifypwd_notice_pwd" class="form-control-feedback">Les deux mots de passe sont différents</div
            </div>
            <button id="modifypwd_submit" type="submit" class="btn btn-primary mt-4"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;Envoyer</button>
        </form>
    </div>


{% endblock %}

{% block script %}
    <script src="/js/PasswordCheck.js"></script>
    <script src="/js/modifyPassword.js"></script>
{% endblock %}