header {
    font-size : 3vw;
    padding: 10px;
    color:white;
}

.menu_option{
    position: relative;
    top: 6%;
}

.menu_option-ico{
    font-size: 12vw;
}

.menu_option-txt{
    font-size: 5vw;
}

body{
    font-size: 1.25vw;
    height: 100vh;
    border: 1px solid red;
}

.link:link,
.link:visited,
.link:focus,
.link:hover,
.link:active,
header:link,
header:visited,
header:focus,
header:hover,
header:active{
    color: white;
    text-decoration: none;
}

#table_options{
    width: 10%
}

#table_licenced{
    width: 15%
}

#table_licencenum{
    width: 13%
}

#login_form, #lostpassword_form, #createaccount_form, .table-responsive, #club, #player, #createplayer_form, #creatematch_form, #match{
    margin-top:30px;
}

#login-form{
    margin-top:10px;
    margin-bottom:10px;
}

#club_data{
    font-size: 2vw;
}

.fit-image{
    width: 100%;
    object-fit: cover;
}

#club_soclink{
    font-size: 5vw;
}

.myborder{
    border-width: 2px !important;
}

#match_stat_record, #match_stat_displaybyperiod, .match_period{
    font-size: 1.7vw;
}

.stat_bar-btnless,  .stat_bar-btnplus {
    font-size: 2vw;
    font-weight: bold;
}

.greencheck{
    color : green !important;
}

.redtimes{
    color : red !important;
}

.meteo_zipcode, .meteo_date{
    display : none;
}

.teamcol{
    height: min-content!important;
}

#match_data{
    display: none;
}

#modal_goal, #modal_redcard, #modal_yellowcard, #get_yellowcard, #get_redcard, #modal_displaycards{
    display: none;
}

.yellowcard, #yellowcard, #redcard, .redcard{
    height: 20px;
    width: 15px;
    border : 1px solid black;
}

.yellowcard, #yellowcard {
    background-color: yellow;
}

.redcard, #redcard{
    background-color: red;
}

#modal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
    width: 95%;
    height: 100%;
    position: absolute;
    top: 10%;
}
#modal_goal, #modal_redcard, #modal_yellowcard, #modal_displaycards{
    width:90%;
    height : 100%;
    background-color: rgba(255,255,255,0.8);
    z-index : 10;
}

#set_yellowcard, #set_redcard{
    height: 50%;
    width: 80%;
    background: white;
    border: 2px solid #007bff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#set_cards {
    height: 50%;
    width: 80%;
    background: white;
    border: 2px solid #007bff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalflex{
    justify-content: center;
}

#yc_close, #rc_close, #cards_close{
    position: relative;
    height: 4%;
    left: 78%;
    top: 2%;
    z-index: 11;
    cursor : pointer;
}

#card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
}

#match_stat_period_display{
    display : flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height : auto;
    width: 100%;
}

#match_stat_period-bar{
    border-width: 2px!important;
    width: 90%;
    position: absolute;
}

.period_btn{
    margin-right: 5px;
    margin-left: 5px;
    z-index : 1;
}

#match_team_name {
    font-size: 2em;
}

#banner_chrono, #match-team_score{
    font-size: 2.2em;
}

#match_team_buttons-cards{
    font-size: 1.5em;
}

.table-text-size{
    font-size: 1.2em;
}

.add-btn{
    font-size : 2em;
}

h1{
    font-size: 3em;
}

h3{
    font-size: 2.25em;
}

h5{
    font-size: 1.75em;
}

#match_score{
    font-size: 5.5em;
}

#match_banner{
    display : flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    flex-wrap: wrap;
    max-height: 100%;

}

.stat_goal{
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

#modal_goal{
    width: 100%;
}

#modal_send_composition{
    position:absolute;
    width: 95%;
    height: 100%;
    background-color: rgba(255,255,255,0.8);
    display: none;
    justify-content: center;
    z-index: 10;
}

#modal_send_composition_container{
    background-color: rgba(255,255,255,1);
    height: 50%;
    z-index : 10;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#composition_note{
    resize: none;
    width : 83%;
}

#send_composition{
    font-size: 1.2em;
    width: 25%;
}

caption{
    caption-side: top;
}