.menu_option-ico{
    font-size: 18em;
}

.menu_option-txt{
    font-size: 9em;
}

.marge-menu{
    margin-top: 40px;
}

.notice {
    font-size: 2.5em;
}

.notice_close {
    right: 10%;
}

.head_menu{
    font-size: 2.5em;
}

#club_name{
    font-size: 5em;
}

#club_soclink {
    font-size: 8em;
}

#club_data {
    font-size: 2.5em;
}

.compo-title{
    font-size: 5em;
}

.compo-txt, #login-forget{
    font-size: 3em;
}

#match_infos {
    font-size: 2.2em;
}

#match_goal_card_display{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.2em;
}

#match_goal_display, #match_card_display{
    width : 70%;
    display: flex;
    flex-direction: column;
}

#match_card_display{
    margin-top: 20px;
}

.match_period{
    font-size: 2.5em;
}

#match_team_away-name, #match_team_home-name {
    font-size: 2.7em;
}

#user_modal{
    font-size: 2em;
}

#pages_bar {
    width: 90%;
    font-size: 3em;
}
