{% extends "layout.html.twig" %}

{% block head %}
    <title>Accueil - MyTeamStats</title>
{% endblock %}

{% block content %}

    <div class="row mt-5">
        <div class="row offset-1 col-10">
            <div class="col-5">
                <div class="embed-responsive embed-responsive-1by1 text-center">
                    <div class="embed-responsive-item bg-primary rounded-lg">
                        <a href="/MyTeamStats/OppoList" class="link">
                            <div class="menu_option">
                                <span class="menu_option-ico"><i class="fas fa-clipboard-list"></i></span><br/>
                                <span class="menu_option-txt">Adversaires</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% if session.user_status >= 4 %}
            <div class="offset-2 col-5">
                <div class="embed-responsive embed-responsive-1by1 text-center align-middle">
                    <div class="embed-responsive-item bg-primary rounded-lg">
                        <a href="/MyTeamStast/UsersList" class="link">
                            <div class="menu_option">
                                <span class="menu_option-ico"><i class="fas fa-user-friends"></i></span><br/>
                                <span class="menu_option-txt">Utilisateurs</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row mt-5">
        <div class="row offset-1 col-10">
            <div class="col-5">
                <div class="embed-responsive embed-responsive-1by1 text-center">
                    <div class="embed-responsive-item bg-primary rounded-lg">
                        <a href="/MyTeamStats/FieldsList" class="link">
                            <div class="menu_option">
                                <span class="menu_option-ico"><i class="fas fa-map-signs"></i></span><br/>
                                <span class="menu_option-txt">Terrains</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
{#            <div class="offset-2 col-5">#}
{#                <div class="embed-responsive embed-responsive-1by1 text-center align-middle">#}
{#                    <div class="embed-responsive-item bg-primary rounded-lg">#}
{#                        <a href="/MyTeamStast/UsersList" class="link">#}
{#                            <div class="menu_option">#}
{#                                <span class="menu_option-ico"><i class="far fa-futbol"></i></span><br/>#}
{#                                <span class="menu_option-txt">Utilisateurs</span>#}
{#                            </div>#}
{#                        </a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
 </div>


{% endblock %}