{% extends "layout.html.twig" %}

{% block head %}
    <title>Composition d'équipe - MyTeamStats</title>
{% endblock %}

{% block content %}

    <h3>Créér la composition d'équipe pour ce match</h3>



{% endblock %}