{% extends "layout.html.twig" %}

{% block head %}
    <title>Composition d'équipe - MyTeamStats</title>
{% endblock %}

{% block content %}

    <h3>Créér la composition d'équipe pour ce match</h3>

    <div class="table-responsive">
        <table class="table table table-bordered table-striped text-center">
            <caption class="col-12 text-center">
                <h4>Liste des joueurs</h4>
            </caption>
            <thead>
            <tr>
                <th id="table_surname">Nom</th>
                <th id="table_name">Prénom</th>
                <th id="table_category">Catégorie</th>
                <th id="table_licenced">Licencié.e ?</th>
                <th id="table_options">Selection</th>
            </tr>
            </thead>
            <tbody>

            {%   for player in playerListObj %}

                <tr>
                    <td>{{player.lastname}}</td>
                    <td>{{player.firstname}}</td>
                    <td>{{player.category}}</td>
                    <td>
                        {% if player.activelicence == 1  %}
                            <i class="fas fa-check greencheck"></i>
                        {%  else %}
                            <i class="fas fa-times redtimes"></i>
                        {% endif %}
                    </td>
                    <td class="d-flex flex-row justify-content-between">
                        <input type="checkbox"
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}

