{% extends "layout.html.twig" %}

{% block head %}
    <title>Créér un adversaire - MyTeamStats</title>
{% endblock %}

{% block content %}

    <div id="createoppo_form" class="d-flex flex-column justify-content-center align-items-center">
        <form id="createoppo-form" class="col-lg-6" action="index.php?action=addoppo"  method="post" enctype="multipart/form-data">
            <legend>Créér un adversaire</legend>
            <div class="form-group">
                <label for="text">Nom</label>
                <input id="text" type="text" name="name" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="text">Ajouter un logo</label>
                <input id="text" type="file" name="logo" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;Envoyer</button>
        </form>
    </div>


{% endblock %}