{% extends "layout.html.twig" %}

{% block head %}
    <title>Gestion des adversaires - MyTeamStats</title>
{% endblock %}

{% block content %}

    <div class="modal_confirm_delete">
        <div class="modal_confirm_delete_content">
            <span class="modal_confirm_delete_content-txt">Vous êtes sur le point de supprimer un adversaire. Confirmer ?  </span>
            <div class="modal_confirm_delete_content-buttons">
                <button class="modal_confirm_delete_content-buttonno btn btn-primary">Non</button>
                <button class="modal_confirm_delete_content-buttonyes btn btn-primary"><a href="/MyTeamStats/DeleteOppo/" class="delete_link link">Oui</a></button>
            </div>
        </div>
    </div>

    {% if session.user_status >= 4 %}
        <button id="add_oppo" class="btn btn-primary mt-4 add-btn">
            <a href="/MyTeamStast/CreateOppo" class="link font-weight-bold">
                <i class="fas fa-shield-alt"></i>&nbsp;&nbsp;&nbsp;Créer un adversaire
            </a>
        </button>

        <div class="table-responsive">
            <table class="table table table-bordered table-striped text-center table-text-size-oppo">
                <caption class="col-12 text-center">
                    <h4>Liste des adversaires</h4>
                </caption>
                <thead>
                <tr class="col-6">
                    <th id="table_club" class="col-2">Club</th>
                    <th id="table_logo" class="col-2">Logo</th>
                    <th id="table_options" class="col-2 optionsTH">Options</th>
                </tr>
                </thead>
                <tbody>
                {%   for oppo in oppoListObj %}
                    <tr class="tableTR trlist">
                        <td>{{oppo.name}}</td>
                        <td><img src="{{oppo.logo}}" class="img-responsive fit-image"></td>
                          <td class="optionsTD">
                              <div><a href="/MyTeamStast/ModifyOppo/{{ oppo.opponentid }}"><i class="fas fa-pen"></i></a></div>
                              {%  if session.user_status >= 4 %}
                                <div class="delete_btn"><i class="fas fa-trash-alt" id="delete_oppo_{{ oppo.opponentid }}"></i></div>
                              {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <span>Vous n'êtes pas autorisé à afficher cette page</span>
    {% endif %}

    <div class="list_bar col-12 d-flex flex-row justify-content-center mb-4">
    </div>

{% endblock %}

{% block script %}
    <script src="/MyTeamStats/public/js/TableOptions.js"></script>
    <script src="/MyTeamStats/public/js/ListDisplay.js"></script>
{% endblock %}
