<!DOCTYPE html>
<html lang="fr">

<head>

    {% block head %}{% endblock %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">   
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="/MyTeamStats/public/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" media="screen and (max-width: 767px)" href="/MyTeamStats//public/css/style_mobile.css" />
    <script src="https://kit.fontawesome.com/5fbf6a0223.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
        <header id="head_menu" class="row d-flex justify-content-between bg-primary">
            <div class="col-4 text-left"><a href="/MyteamStats" class="link"><i class="fas fa-bars"></i></a></div>
            <div class="col-4 text-center"><a href="/MyteamStats" class="link">MyTeamStats</a></div>
            <div class="col-4 text-right">
                {%  if session.user_status > 0 %}
                    Bienvenue <a href="/MyTeamStats/SessionKill" class="link">{{ session.user_firstname }}</a>
                {% else %}
                    <a href="/MyTeamStats/Login" class="link"><i class="fas fa-user"></i>&nbsp;&nbsp;Connexion</a>
                {% endif %}
            </div>
        </header>

        <div id="left_menu">
            <div class="left_menu_option">
                <span class="left_menu_option-ico"><i class="fas fa-users"></i></span><br/>
                <span class="left_menu_option-txt">Effectif</span>
            </div>
            <div class="left_menu_option">
                <span class="left_menu_option-ico"><i class="far fa-futbol"></i></span><br/>
                <span class="left_menu_option-txt">Matchs</span>
            </div>
            <div class="left_menu_option">
                <span class="left_menu_option-ico"><i class="fas fa-clipboard-list"></i></span><br/>
                <span class="left_menu_option-txt">Infos Club</span>
            </div>
            {% if session.user_status >= 3 %}
                <div class="left_menu_option">
                    <span class="left_menu_option-ico"><i class="fas fa-cog"></i></span><br/>
                    <span class="left_menu_option-txt">Gestion</span>
                </div>
            {% endif %}
        </div>

        <div id="content">

            {% if notice is defined %}
            <div class="notice p-4 mt-2 border border-primary rounded-lg myborder">
                <div class="notice_close"><i class="fas fa-times"></i></div>
                <div class="notice_txt">{{ notice }}</div>
            </div>
            {% endif %}

            {% block content %}{% endblock %}
        </div>    
        
        <footer>
        </footer>
    </div>    
    <script src="/MyTeamStats/public/js/config.js"></script>
    <script src="/MyTeamStats/public/js/DisplayMenu.js"></script>
    {% if notice is defined %}
        <script src="/MyTeamStats/public/js/NoticeManagement.js"></script>
    {% endif %}
    {% block script %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>    
</body>
</html>